<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Keka - Authentication</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="background-branding-container">
        <img class="login-background-image" src="https://app.keka.com/images/branding/1.jpg" style="width: 966px; display: block; height: 100%;" />
    </div>
    <div class="login-container" id="login-container" style="display: block;">
        @RenderBody()
    </div>
</body>
</html>
